@font-face {
font-family: 'BebasNeue';
src:
    local('BebasNeue'),
    url('BebasNeue.ttf');
}

/*---------------------------
--- Menu Buttons
---------------------------*/

.menu-button {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  z-index: 9;
  display: none;
}

/*---------------------------
--- Sidebar 
---------------------------*/

.sidebar {
  transition: .5s;
  height: 100%;
  overflow-x: hidden;
  width: 11rem;
  position: fixed;
  top: 0;
}

.sidebar .sidebar-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-logo img {
  width: 140px;
  height: 140px;
}

.sidebar .list-group {
  width: 11rem;
  font-size: 1.3rem
}

.list-group img {
  width: 25px;
  height: 25px;
}

/*---------------------------
--- Body
---------------------------*/

.body {
  background-color: #212529;
}

#wrapper {
  width: 100%;
}

.pg {
  display: block;
  width: 100%;
  max-width: 750px;
  margin-left: 11rem;
}

.pg header {
  background-image: linear-gradient(to right, #FFCC66, transparent);
}

.pg h1 {
  padding-left: 0.7rem;
  font-family: BebasNeue;
  color: #212529;
}

.pg h3 {
  margin-left: 5%;
  color: #FFCC66;
}

.pg p, ul {
  width: 90%;
  margin: auto;
}

.pg a {
  color: #FFCC66;
}

.pg a:hover {
  color: #DDAA44;
  text-decoration: none;
}

/*---------------------------
--- Open
---------------------------*/

#pg-open {
  display: flex;
  height: 96vh;
  width: auto;
}

.coa {
  margin: auto;
  max-width: 350px;
}

/*---------------------------
--- Home
---------------------------*/

#pg-home {
  display: none;
}

.profile {
  display: block;
  margin: auto;
  border: 2px solid #FFFFFF;
  width: 90%;
  max-width: 400px;
}

/*---------------------------
--- Ukulele
---------------------------*/

#pg-ukulele th, td {
  padding: 0.3rem;
}

#ukulele-table {
  margin: auto;
  border: none;
  width: 90%;
  max-width: 750px;
  margin-bottom: 100px;
}

#ukulele-table > tbody tr:nth-child(odd) {
  background-color: #101418;
}

/*---------------------------
--- Song
---------------------------*/

#search-bar {
  width: 90%;
  margin: auto;
}

#ukulele-song {
  display: block;
  margin: auto;
  overflow: hidden;
  width: 90%;
  height: 80vh;
  border: none;
}

/*---------------------------
--- Fightstick
---------------------------*/

.fs-img {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 10px;
}

/*---------------------------
--- Weather
---------------------------*/

.responsive-iframe {
  aspect-ratio: 4 / 3;
  display: block;
  border: none;
  margin: auto;
  width: 90%;
  height: 90%;
  max-width: 600px;
}

/*---------------------------
--- Resume
---------------------------*/

.headshot {
  display: block;
  margin: auto;
  border: 2px solid #FFFFFF;
  max-width: 200px;
}

/*---------------------------
--- Contact
---------------------------*/

#pg-contact a {
  color: #FFFFFF;
  text-decoration: none;
}

#pg-contact p {
  text-align: center;
}

.contact-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  max-width: 200px;
  border: none;
}

/*---------------------------
--- Mobile Resolution Options
---------------------------*/

@media screen and (max-width: 750px) {
  #open-button {display:block;}
  #close-button {display:none;}
  #pg-ukulele table {width: 98%;}
  #ukulele-song {width: 100%;}
  .sidebar {width: 0;}
  .pg {margin-left:0;}
  .pg p, ul {width: 98%;}
  .pg h3 {margin-left: 0px;}
}

@media screen and (min-width: 750px) {
  #open-button {display:none;}
  #close-button {display:none;}
  #sidebar {width: 11rem;}
}

@media print {
    #ukulele-song {
        width: 100%;
        height: 100%;
    }
    .visible-print{
        display: block;
        width: auto;
        height: auto;
        overflow: visible;  
    }
    
    #pg-song {
        width: 100%;
        height: 100%;
    }
    .visible-print{
        display: block;
        width: auto;
        height: auto;
        overflow: visible;  
    }
}
