/*---------------------------
--- Menu Buttons
---------------------------*/

.menu-button {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  z-index: 9;
}

.sidebar .closebtn {
  text-align: center;
  font-size: 1.3rem;
}

/*---------------------------
--- Sidebar 
---------------------------*/

.sidebar {
  transition: .5s;
  height: 100%;
  overflow-x: hidden;
  width: 11rem;
  position: fixed;
  top: 0;
}

.sidebar .sidebar-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-logo img {
  width: 140px;
  height: 140px;
}

.sidebar .list-group {
  width: 11rem;
  font-size: 1.3rem
}

.list-group img {
  width: 25px;
  height: 25px;
}

/*---------------------------
--- Body
---------------------------*/

.body {
  background-color:#212529;
}

#wrapper {
  width: 100%;
}

.pg {
  width: 100%;
  max-width: 750px;
  display: none;
  margin-left: 11rem;
}

.pg header {
  background-image: linear-gradient(to right, rgba(255,204,102,1), rgba(0,0,0,0));   
}

.pg h1 {
  padding-left: 0.7rem;
  font-family: Copperplate, fantasy;
  color: #212529;
}

.pg h3 {
  margin-left: 4rem;
  color: #FFCC66;
}

.pg p, ul {
  width: 80%;
  margin: auto;
}

.pg a {
  color: #FFCC66;
}

/*---------------------------
--- Open
---------------------------*/

#pg-open {
  display: flex;
  height: 96vh;
  width: auto;
}

.coa {
  margin: auto;
  max-width: 350px;
}

/*---------------------------
--- Home
---------------------------*/

.profile {
  display: block;
  margin: auto;
  border: 2px solid #FFFFFF;
  width: 90%;
  max-width: 400px;
}

/*---------------------------
--- Ukulele
---------------------------*/

#pg-ukulele table {
  display: block;
  width: 90%;
  border: none;
}

/*---------------------------
--- Fightstick
---------------------------*/

.fs-img {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 10px;
}

/*---------------------------
--- Weather
---------------------------*/

.responsive-iframe {
  aspect-ratio: 4 / 3;
  display: block;
  border: none;
  margin: auto;
  width: 90%;
  height: 90%;
  max-width: 600px;
}

/*---------------------------
--- Resume
---------------------------*/

.headshot {
  display: block;
  margin: auto;
  border: 2px solid #FFFFFF;
  max-width: 200px;
}

/*---------------------------
--- Contact
---------------------------*/

#pg-contact a {
  color: #FFFFFF;
  text-decoration: none;
}

#pg-contact p {
  text-align: center;
}

.contact-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  max-width: 200px;
  border: none;
}

/*---------------------------
--- Sheet
---------------------------*/

#pg-sheet p {
  font-family: Courier, sans-serif;
}

/*---------------------------
--- Mobile Resolution Options
---------------------------*/

@media screen and (max-width: 750px) {
  .sidebar {width: 0;}
  .pg {margin-left:0;}
  .closebtn {visibility:visible;}
  .pg p, ul {width: 100%;}
  .pg h3 {margin-left: 0px;}
}

@media screen and (min-width: 750px) {
  .closebtn {visibility:hidden;}
  .menu-button {visibility:hidden;}
}
