html, body {
  font-family: Monaco, Consolas, monospace;
  line-height: 1.2rem;
  font-size: 10px;
  white-space: pre;
  color: white;
}

h2 {
  font-size: 2rem;
}

span {
  color: #FFCC66;
}
