html, body {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.9rem;
  line-height: 1.1rem;
  white-space: pre;
  color: white;
}

h2 {
  font-size: 2rem;
}

span {
  color: #FFCC66;
}

c- { /*Chords*/
  color: white;
}

l- { /*Lyrics*/
  color: #DDDDDD;
}
