html, body {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.9rem;
  line-height: 1.1rem;
  white-space: pre;
  color: #FFFFFF;
}

h2 {
  font-size: 2rem;
}

span {
  color: #FFCC66;
}

c- { /*Chords*/
  color: #FFFFFF;
}

l- { /*Lyrics*/
  color: #DDDDDD;
}

r- { /*Repeated Chorus*/
  color: #D85B5F;
}

@media print {
  html, body {color: #000000;}
  h2 {color: #FFCC66;}
  span {color: #FFCC66;}
  c- {color: #000000;}
  l- {color: #333333;}
  r- {color: #D85B5F;}
}
